$primary-color: #151515;

* {
  margin: 0px;
  padding: 0px;
}

html {
  height: 100%;
}

body {
  height: 100%;
  color: white;
}

#contenedorPrincipal {
  width: 100%;
  height: 100%;
}

#rowPrincipal {
  height: 100%;
}

#seccionMenu {
  background-color: $primary-color;
  height: 100%;
}

#rowMenu {
  justify-content: center;
}

#segundos {
  width: 30%;
  margin: auto;
}

#itemSeccionMenu {
  height: 30%;
}

.arrowContainer {
  justify-content: center;
  width: 10%;
  height: 50%;
  display: flex;
  align-items: center;
}
.activityContainer {
  width: 80%;
}

.arrow:hover {
  cursor: pointer;
}

.leftArrow {
  transform: scaleX(-1);
}
